<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.mapper.cartMapper">
  
  <!-- cart_number로 ORDER BY 추가 해줘야함(오름차순) -->
   <!-- qna select 최소 3개 (전체, user, 관리자) -->
   <!-- ex)  WHERE (users_number) -->
  	<select id ="selectListCart" resultType="cartVO">
  		SELECT
  			ca.quantity,
  			ca.users_usernumber AS usersNumber,
  			ca.products_productnumber AS productsNumber,
  			ca.cart_number AS cartNumber,
  			pr.product,
  			pr.price,
  			pr.title_image
  		FROM cart ca
  			INNER JOIN users us
  			INNER JOIN products pr
  		ON ca.users_usernumber = us.user_number
  			AND ca.products_productnumber = pr.product_number
  		ORDER BY cart_number
  	</select>
  	<select id ="selectUserOneCart" resultType="cartVO">
  		SELECT
  			ca.quantity,
  			ca.users_usernumber AS usersNumber,
  			ca.products_productnumber AS productsNumber,
  			ca.cart_number AS cartNumber,
  			pr.product,
  			pr.price,
  			pr.title_image
  		FROM cart ca
  			INNER JOIN users us
  			INNER JOIN products pr
  		ON ca.users_usernumber = us.user_number
  			AND ca.products_productnumber = pr.product_number
  		ORDER BY cart_number
  		WHERE (users_number)
  	</select>
  	<insert id ="insertCart" parameterType="cartVO" >
  		INSERT INTO cart
			(quantity, users_usernumber, 
				products_productnumber, cart_number)
			VALUE (#{quantity},
					#{usersNumber},
					#{productsNumber},
					#{cartNumber}
				)	
  	</insert>
  	<update id="updateCart" parameterType="cartVO">
		UPDATE cart
			SET quantity = #{quantity}
		WHERE (cart_number = #{cartNumber})	
	</update>
	<delete id="deleteCart" parameterType="cartVO">
		DELETE 
		FROM cart
		WHERE (cart_number = #{cartNumber})	
	</delete>
  </mapper>