<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.mapper.products">
     <!-- 
        mybatis-config.xml의 typeAlias에 등록해두지 않았다면 
        
        <select id="selectMember" resultType="com.example.dto.MemberVO" >
            SELECT ID, PW ,NAME FROM TEST
        </select>
        
        이렇게 해야 한다.
    -->
    <select id="selectList" resultType="productVO">
    	 SELECT 
    		product,   		
    		price,
    		kind,
    		title_image AS titleImage,
    		product_number AS productNumber
         FROM products
    </select>
    <select id="selectListColorAndSize" resultType="productVo" parameterType="productVO">
    	SELECT
    		color,
    		size
    	FROM products p  Join products_data pd 
    	ON product_number = products_product_number
		WHERE p.product_number=#{productNumber};
    </select>
    <select id="selectCheckInsert"  parameterType="productVO" resultType="productVO">
        SELECT 
        	product_number AS productNumber
         FROM products
         WHERE product=#{product}
    </select>
    <select id="selectProduct" parameterType="productVO" resultType="productVO">
    	SELECT
    		size,
    		color,
    		kind,
    		quantity,
    		price,
    		content,
    		title_image AS titleImage,
    		product_image AS productImage,
    		product,
    		product_number AS productNumber,
    		p.regdate AS regDate
    	FROM products p join products_data pd on product_number=products_product_number
    	WHERE product_number=#{productNumber}
    	
    </select>
    <update id="updateProduct"  parameterType="productVO">
    	UPDATE products 
    	SET size = #{size},
    		 color = #{color},
    		 quantity = #{quantity},
    		 price = #{price},
			 content = #{content},
			 image_small = #{imageSmall},
			 image_lazy = #{imageLazy},
			 product_image = #{productImage},
			 product = #{product},
			 regdate = #{regDate}
    	WHERE (product_number = #{productNumber})
    </update>
    <insert id="insertProduct" parameterType="productVO">
    	INSERT INTO products
    	(kind,price,content,title_image,content_image,product,regdate,indate)
			VALUE (#{kind},
					#{price},
					#{content},
					#{titleImage},
					#{contentImage},
					#{product},
					#{regDate},
					#{inDate}
				)			
    </insert>
    <insert id="insertProductData" parameterType="productVO">
    	INSERT INTO products_data
    	(color,size,product_image,quantity,regdate,indate,products_product_number)
    		VALUE(#{color},
    				#{size},
    				#{productImage},
    				#{quantity},
    				#{regDate},
    				#{inDate},
    				#{productNumber} 		
    		)
    </insert>
 </mapper>