<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.mapper.qnaMapper">
 <!-- qna select 최소 3개 (전체, user, 관리자) -->
 	<select id="selectListQna" resultType="qnaVO">
 		SELECT 
 			q.content,
 			q.indate AS inDate,
 			q.title,
 			q.hit, <!-- state로 바꿔줘야함 -->
 			us.users_usernumber AS usersNumber,
 			q.qna_number AS qnaNumber
 		FROM qna q
 			INNER JOIN users us
 		ON	q.users_usernumber = us.user_number
 	</select>
 	<insert id="insertQna" parameterType="qnaVO" >
 		INSERT INTO qna
 		(content, indate, title, hit, users_usernumber, qna_number)
 			VALUE (#{content},
 					now(),
 					#{title},
 					#{usersNumber},
 					)	
 	</insert>
 	<!-- updatedate(수정된날짜) 컬럼 추가해야됨 -->
 	<update id="updateQna" parameterType="qnaVO" >
 		UPDATE qna
 			SET	content = #{content},
 				title = #{title}
		WHERE (qna_number = #{qnaNumber})
 	</update>
 	
 	<delete id="deleteQna" parameterType="qnaVO">
 		DELETE
		FROM qna
		WHERE (qna_number = #{qnaNumber})
 	</delete>
 </mapper>
 